
# PYTHON
[[language]]
name = "python"
language-id = "python"
roots = ["pyproject.toml", "poetry.lock", ".git", ".venv/"]
#language-servers = ["scls", "basedpyright", "ruff"]
#language-servers = ["scls", "ty", "pylsp"]
language-servers = ["scls", "basedpyright"]
auto-format = true
formatter = { command = "sh", args = [
    "-c",
    "uvx ruff check --fix - | uvx ruff format -",
] }
file-types = ["py", "ipynb"]
comment-token = "#"
shebangs = ["python"]

[language-server.ty] 
command = "uvx" 
args = ["ty", "server"]







[language-server.ruff]
command = "uvx"
args = ["ruff", "server"]
environment = { "RUFF_TRACE" = "messages" }

[language-server.ruff.config.settings]
lineLength = 100
logLevel = "debug"
fix = true

[language-server.ruff.config.settings.lint]
select = [
    "E",   # pycodestyle errors
    "W",   # pycodestyle warnings 
    "F",   # pyflakes 
    "B",   # flake8-bugbear 
    "I",   # isort 
    "RUF", # ruff 
    #"D",   # docstrings 
    #"UP",    # pyupgrade 
    #"ANN",   # annotations 
    "ASYNC", # async checks 
    "S",     # bandit (security) 
    "YTT",   # datetime checks 
    "A",     # builtins shadowing 
    "RET",   # return statements 
    "TCH",   # type-checking 
    "ARG",   # function args 
    "PTH",   # pathlib over os.path 
    "ERA",   # env assumptions 
    "LOG",   # logging practices 
    "N",     # naming 
    "C4",    # comprehensions 
    "T10",   # debugger usage 
    "SIM",   # simplify code 
    "TRY",   # try/except 
    "C90",   # complexity 
    "PGH",   # pattern hooks 
]
ignore = [
    "E501",   # line too long 
    "E731",   # do not assign lambda 
    "D205",   # docstrings blank line spacing 
    "D100",   # missing docstring in public module
    "D104",   # missing docstring in public package
    "D103",   # missing docstring in public function
    "ANN201", # missing return type annotation for public function
    "ERA001", # found commented out code
]

[tool.ruff.lint.per-file-ignores]
"src/tests/*" = ["S101", "D103"] # allow assertions, allow missing docstrings

[language-server.ruff.config.settings.format]
quote-style = "double"
docstring-code-format = true
indent-style = "tab"
preview = true

[language-server.basedpyright]
command = "uvx"
args = ["--from", "basedpyright", "basedpyright-langserver", "--stdio"]

[language-server.basedpyright.config.basedpyright.analysis]
autoSearchPaths = true
typeCheckingMode = "basic"
diagnosticMode = "openFilesOnly"
autoImportCompletions = true
reportUnusedCallResult = false


# https://github.com/estin/simple-completion-language-server
[language-server.scls]
command = "simple-completion-language-server"


[language-server.scls.config]
max_completion_items = 100           # set max completion results len for each group: words, snippets, unicode-input
feature_words = true                 # enable completion by word
feature_snippets = true              # enable snippets
snippets_first = true                # completions will return before snippets by default
snippets_inline_by_word_tail = false # suggest snippets by WORD tail, for example text `xsq|` become `x^2|` when snippet `sq` has body `^2`
feature_unicode_input = false        # enable "unicode input"
feature_paths = false                # enable path completion
feature_citations = false            # enable citation completion (only on `citation` feature enabled)



# GO
[[language]]
name = "go"
auto-format = true
formatter = { command = "goimports" }
